<div class="row-fluid">
    <div class="page span6 center">
		<%= image_tag asset_path('scoutingio-logo.png') %>
        <p>As recent <a href="http://www.baylorisr.org/2012/04/eagle-scouts-merit-beyond-the-badge-report-is-released/">reports</a> have shown, the Scouting movement is crucial to the development of young men. This is only the most recent attempt to prove something that many of us have known for generations.</p>

		<p>The Scouting program did not begin the way it is today. The program has continued to evolve with the times to stay relevent to the current youth, but instill the same important values that have been the corner stone of Scouting. This is a fine balance to maintain and one that receives constant attention. However, we feel that one area that has not evolved fast enough is technology. The youth today are moving at a pace faster than ever before and if the program can not keep up, it will be regarded as boring and not challenging enough.</p>
		
		<p>Scout Made is making this its' purpose &mdash; to bring the Scouting program up-to-date on a technology front by creating web &amp; mobile  applications that assist the adult leaders, scouts, and professionals in the implementation of the program. It is our belief that this can be done in a way that allows for better focus on the methods of Scouting and less time in the administration. This is not going to be an overnight solution, but we are up for the challenge and look forward to the journey.</p>
		<%= image_tag asset_path('sig2.png') %>
		<%= image_tag asset_path('sig.jpg') %>
		
		<hr />
		<form class="form-inline">
		  <input type="text" class="input" placeholder="Email">
		  <button type="submit" class="btn btn-primary">Keep me updated!</button>
		</form>
		<hr />
		<center><%= image_tag asset_path('scoutmade-1.jpg') %></center>
    </div>
</div>