<div class="row">
	<div id="sidebar" class="span3">
		<div id="logo">
			<%= image_tag asset_path('ccro_long.png'), :width => '100%' %>
		</div>
		<br />
			<div class="btn-toolbar">
				<div class="btn-group">        
					<a href="#" class="btn" rel="tooltip" title="Properties">
						<i class="icon-list-alt"></i>
					</a>
					<a href="#" class="btn" rel="tooltip" title="Sections">
						<i class="icon-th-list"></i>
					</a>
					<a href="#" class="btn" rel="tooltip" title="Views">
						<i class="icon-th-large"></i>
					</a>
				</div>
				<div class="btn-group pull-right">        
					<a href="#" class="btn" rel="tooltip" title="Edit Document">
						<i class="icon-pencil"></i>
					</a>
					<a href="#" class="btn" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
						<i class="icon-remove"></i>
					</a>
				</div>
			</div>
	      <ul class="nav nav-tabs nav-stacked">
	        <li class="active"><a href="#">Author <span class="pull-right">CCRO</span></a></li>
	        <li class="active"><a href="#">Updated Date <span class="pull-right">Mar 24, 2012</span></a></li>
	        <li class="active"><a href="">Published 				<span class="btn-group pull-right" style="margin-top: -5px; margin-right: -5px;">        
					<button href="#" class="btn btn-success" rel="tooltip" title="Toggle Published">
						<i class="icon-ok icon-white"></i> Published
					</button>
					<button href="#" class="btn" rel="tooltip" title="Set permissions">
						<i class="icon-cog"></i>
					</button>
				</span></a></li>
	        <li class="active"><a href="#">Published Date <span class="pull-right">Apr 3, 2012</span></a></li>
	      </ul>
		  <h3>Table of Contents</h3>
	      <ul id="sections-nav" class="nav nav-tabs nav-stacked">
	        <li class="active"><a href="#executive-summary">Executive Summary</a></li>
	        <li><a href="#acknowledgements">Acknowledgements</a></li>
	        <li><a href="#governance">Governance <small class="pull-right">1-6</small></a></li>
	        <li><a href="#policies-and-procedures">Policies and Procedures <small class="pull-right">7-22</small></a></li>
	        <li><a href="#qualifications-and-training">Qualifications and Training <small class="pull-right">23-24</small></a></li>
	        <li><a href="#risk-management-infrastructure">Risk Management Infrastructure <small class="pull-right">25-27</small></a></li>
	        <li><a href="#appendices">Appendices</a></li>
	      </ul>
		  <h3>Views</h3>
	      <ul class="nav nav-tabs nav-stacked">
	        <li><a href="#">Compare to Principal No. 1</a></li>
	        <li><a href="#">Compare to Principal No. 2</a></li>
	        <li><a href="#">Compare to Principal No. 3</a></li>
	        <li><a href="#">Compare to Principal No. 4</a></li>
	        <li><a href="#">Compare to Principal No. 5</a></li>
	        <li><a href="#">Compare to Principal No. 6</a></li>
	        <li><a href="#">Compare to Principal No. 7</a></li>
	        <li><a href="#">Compare to Principal No. 8</a></li>
	      </ul>
	    </div>
    <div class="page">
    
		<h1 class="ribbon-left">Risk Management Standards for Energy Market Participants</h1>
		<br /><br /><br /><br />
		<h2 id="executive-summary" class="numbering_exclude">Executive Summary</h2>

		<p>The CCRO’s membership of expert practitioners has worked together for almost a decade now, developing and publishing “best practices” that an energy firm may choose to deploy in pursuit of the most effective management of risks inherent to its commercial activities. In contrast, this CCRO working group has identified the spectrum of critical risk-related issues that must be addressed, these being fundamental to basic risk management. This Risk Management Standards (RMS) document brings together that spectrum of issues and addresses them with a comprehensive list of twenty-seven “risk management standards”. We hold these standards as necessary to make effective management of energy risks possible for any energy firm.</p>
		<p>At the highest level, the risk standards are organized into:</p>
		<ol class="toc">
		  <li>Independent Risk Governance <a href="#governance"><i class="icon-share"></i></a></li>
		  <li>Risk Policies and Procedures <a href="#policies-and-procedures"><i class="icon-share"></i></a></li>
		  <li>Qualifications and Training <a href="#qualifications-and-training"><i class="icon-share"></i></a></li>
		  <li>Risk Management Infrastructure <a href="#risk-management-infrastructure"><i class="icon-share"></i></a></li>
		</ol>

		<p>The CCRO asserts that energy firms should meet or exceed these “standards” in order to ensure that effective risk management is within reach of their company’s management.</p>
		<p>For each of these sections this paper briefly introduces the issues, and lists related standards. Much more detailed information and discussion of these topics can be found in other published CCRO white papers. Defined terms are capitalized and the definitions section can be found at the end of the document.</p>
		<p>This Executive Summary is intended to provide a context regarding the development of the Risk Management Standards, but should not be interpreted as a part of the standards. In particular, this Executive Summary should not be construed to add to, detract from or modify in any way the interpretation of the standards as written.</p>
		<p>These Risk Management Standards have been developed by the CCRO at the request of their membership and other interested energy industry participants, and not at the request of any regulator. They have been developed to meet the needs of industry participants, without consideration for any particular regulator or regulatory process.</p>

		<h3 class="numbering_exclude">Independent Risk Governance <span class="pull-right">Standards 1 to 6</span></h3>
		<p>Independent governance over risk establishes an organizational foundation for risk management. When tested, a firm’s risk management effectiveness is ultimately limited by how firmly these governance standards are in place. Governance duties are assigned to the Governing Body, an optional Management Committee, individuals engaged in Commercial Activities, and to certain individuals Independent from Commercial Activities.</p>
		<p>The Governing Body of the firm has ultimate authority and responsibility for authorizing the Commercial Activities of the firm, and must therefore be sufficiently informed and involved.</p>
		<p>The standards detail these general themes:</p>
		<ul>
			<li>The Governing Body will Periodically re-affirm its understanding of the firm’s risks and the firm’s capacity to fulfill potential future financial and physical obligations that may result.</li>
			<li>The Governing Body will authorize Commercial Activities and set the maximum acceptable level of specific risks that those activities may generate for the firm.</li>
		</ul>
  
		<p>The Governing Body may choose to delegate to a Management Committee a list of more detailed necessary risk governance duties. The standards detail these general themes:</p>
		<ul>
		  <li>Understanding, reviewing, modifying, mandating, responding to, and authorizing various risk matters on an on-going basis.</li>
		  <li>Periodically reporting risk management performance to the Governing Body</li>
		</ul>
  
		<p>Individuals Independent of Commercial Activities must perform those activities that are essential to accurate identification, measurement, and independent monitoring of risks.</p>

		<p>The standards detail these general themes:</p>
		<ul>
		  <li>Validation of transaction information and related market information</li>
		  <li>Valuation of transactions and development of systems used for that purpose</li>
		  <li>Measurement of risks and development of systems used for that purpose</li>
		  <li>Reporting of performance and compliance with limits&nbsp;</li>
		</ul>
		
	
		<h3 class="numbering_exclude">Risk Policies and Procedures <span class="pull-right">Standards 7 to 22</span></h3>

		<p>Risk policies and procedures are documented protocols, which serve to guide individuals regarding execution of relevant day-to-day activities. These protocols, critical to risk management, pertain to all organizational levels and risk-related functions across the firm. These standards generally address credit, market, and operations risks, as well as the reliability and regularity of risk reporting. The standards detail these general themes:</p>

		<ul>
		  <li>The firm’s documented risk policies, approved by the Governing Body, assign responsibilities for risk oversight and define required controls related to such oversight.</li>
		  <li>Risk policies should include the following risk controls: required risk analyses and reporting, specific limits to market and credit risk, authorization of counter-parties and associated credit terms and limits, and monitoring of all transaction compliance issues.</li>
		  <li>Risk procedures should require that the confirmation and timely capture of transaction information into a system for analyses, valuation, and risk reporting be defined and meet standards for independence and robustness.</li>
		  <li>Policies and procedures should also require that price information used must be validated and verified independently.</li>
		  <li>A rich set of standards is provided to assure robust, insightful risk analyses and reporting.</li>
		</ul>
    
		<h3 class="numbering_exclude">Qualified Personnel <span class="pull-right">Standards 23 and 24</span></h3>
		<p>Underpinning the success of the risk framework is the widespread understanding and daily usage of key risk management concepts throughout the firm. It is critical to ensure personnel are qualified and experienced. Since qualifications must develop as the firm’s risk taking activities develop; it is impossible to separate the need for qualifications from the need for on-going education and focused training.</p>
		<blockquote><em>In a risk-aware organization, the quality of the education program is readily apparent in the consistent manner that communication and discussion of risks is undertaken.</em></blockquote>
		<p>The standards address qualification and training requirements for individuals involved in Commercial Activities, oversight of Commercial Activities and Associated Risks, and the Governing Body.</p>
		
		<h3 class="numbering_exclude">Risk Management Infrastructure <span class="pull-right">Standards 25 to 27</span></h3>
		<p>The objective of Risk Management Systems is to provide the security and data integrity to properly serve the business. The systems used may vary by company to reflect differences in business objectives, markets, and products associated with a company’s energy transactions.A proper risk infrastructure is necessary to provide accurate and timely information for decision-makers. The risk infrastructure is typically a marriage of technology, business process and communication.</p>
		<p>The standards address the following themes:</p>
		<ul>
		  <li>A Risk Management System must capture transaction details, and support operational requirements, risk metric calculations, and financial reporting.</li>
		  <li>There must be policies and controls that protect the security and integrity of the data and information within the system.</li>
		  <li>The risk infrastructure must provide the capability to monitor, aggregate and present relevant information on a timely basis to stakeholders.</li>
		</ul>
	
		<h2 id="acknowledgements" class="numbering_exclude">ACKNOWLEDGEMENTS</h2>

		<p>White papers issued by the CCRO are the product of the efforts of its body of members and other registered working group participants. The views expressed in any particular CCRO paper are attributable only to the CCRO itself and do not necessarily represent the views or intentions of an individual member.</p>
		<p>Preparation of a paper is led by a subset of CCRO members, termed a “working group” that possesses a particular interest in the subject topic. The working group then develops, researches and prepares the paper. Certain external parties, whose functions may include providing valuable expertise, perspective and/or coordination and facilitation, assist the working group as necessary.</p>
		<p>The efforts of all these parties are greatly appreciated, and while this group continues with its work, all interested parties are encouraged to contact us at <a href="http://ccro.org">http://ccro.org</a>.</p>
		<p>The CCRO extends special thanks to the following organizations and individuals who continue to dedicate considerable and valuable time, resources, expertise and/or perspective to the preparation and issuance of this paper, <em>Risk Management Standards for Energy Market Participants</em>
		
	
		<h3 class="numbering_exclude">Working Group Leadership Team </h3>
		<ul>
			<li>Morgan Davies (co-Chair)</li>
		    <li>Brad Radimer (co-Chair), NRG Energy</li>
		    <li>Jack Yeager, The De Laval Yeager Group</li>
		    <li>Glen Mackey, NRG Energy</li>
		    <li>Nick Kiritz, Constellation Energy</li>
		    <li>Jason Plummer, Price Waterhouse Coopers</li>
		    <li>Phil Gootee, Power Markets Advisory Services</li>
		    <li>Mike Gill, Crowell &amp; Moring LLP</li>
		    <li>Randy Baker, Smith Street Advisors</li>
		    <li>Gary Germeroth, Calpine Corporation</li>
		</ul>
		
	
	
		<h2 id="governance">Governance</h2>
		<p>A firm’s risk management governance structure defines authority to engage in Commercial Activities and assume Associated Risks on behalf of the firm. The governance structure also defines responsibility for oversight of Commercial Activities. Effective governance structures share several common characteristics:</p>

		<h3>Accountability</h3>
		<p>The Governing Body of the firm has ultimate authority and responsibility for authorizing the Commercial Activities of the firm, and must therefore be sufficiently informed and involved in the authorization and oversight of all Commercial Activities. The Governing Body may delegate certain responsibilities to a Management Committee.</p>

		<ol class="standard" start="1">
		  <li id="standard_1"><em>Standard: The Governing Body of the firm must:</em></li>
		  <ol>
		    <li id="standard_1_a">Understand and Periodically review the Commercial Activities and Associated Risks of the firm with respect to energy commodities and related transactions.</li>
		    <li id="standard_1_b">Understand and Periodically review the firm’s capacity to fulfill potential future physical and financial obligations associated with these Commercial Activities.</li>
		  </ol>
		</ol>

		<ol class="standard" start="2">
		  <li id="standard_2">Standard: The Governing Body or Management Committee must:</li>
		  <ol>
		    <li id="standard_2_a">Understand and authorize policies and procedures describing Commercial Management and oversight of Commercial Activities and Associated Risks of the firm.</li>
		    <li id="standard_2_b">Ensure that individuals independent of the Commercial Activities of the firm periodically review all Commercial Activities, identify material sources of Associated Risks, and ensure these sources of risk are addressed in risk policies, Commercial Management and oversight of the firm’s Commercial Activities and Associated Risks.</li>
		    <li id="standard_2_c">Require oversight of Commercial Activities by individuals that are Independent of Commercial Activities.</li>
		    <li id="standard_2_d">Authorize new Commercial Activities prior to execution of transactions associated with these activities.</li>
		    <li id="standard_2_e">Review the performance, Associated Risks and Risk Limits, breaches of policy, and responses to breaches associated with Commercial Activities. Reviews must be conducted more frequently than once per year. If reviews are conducted by a Management Committee, they must Periodically provide a summary of reviews to the Governing Body.</li>
		    <li id="standard_2_f">Respond in a timely manner to breaches of policy associated with Commercial Activities.</li>
		    <li id="standard_2_g">Regularly review the firm’s capacity to fulfill potential future physical and financial obligations associated with Commercial Activities.</li>
		    <li id="standard_2_h">Modify authorization of Commercial Activities and Risk Limits as necessary to maintain desired alignment with the firm’s capacity to fulfill physical and financial obligations associated with Commercial Activities.</li>
		    <li id="standard_2_i">Periodically review the effectiveness of the firm’s policies, procedures, and oversight of Commercial Activities in identifying, measuring and monitoring of Associated Risks and detection of breaches in policy.</li>
		    <li id="standard_2_j">Modify the firm’s policies, procedures and oversight of Commercial Activities as necessary to address failures to identify, measure, or monitor Associated Risks or detect breaches in policy. </li>
		  </ol>
		</ol>

		<h3>Authorizations</h3>
		<p>The Governing Body delegates its authority to engage in specific Commercial Activities and expose the firm to approved levels of Associated Risks by defining acceptable Commercial Activities, defining approved levels of Associated Risks (via Risk Limits), and define those individuals or entities authorized to engage in Commercial Activities and assume Associated Risks on behalf of the firm. All Commercial Activities and Associated Risks must be properly authorized by the Governing Body.</p>

		<ol class="standard" start="3">
		<li id="standard_3">Standard: The Governing Body must:</li>
		  <ol>
		  <li id ="standard_3_a"> Authorize the firm to engage in Commercial Activities.</li>
		  <li id ="standard_3_b"> Define acceptable levels of Market Risk and Credit Risk the firm is authorized to take on in pursuit of authorized Commercial Activities.</li>
		  </ol>
		</ol>
  
		<ol class="standard" start="4">
		<li id="standard_4">Standard: The Governing Body or Management Committee must:</li>
		  <ol>
		  <li id ="standard_4_a">Define those Commercial Activities in which the firm is authorized to engage. Authorizations must include (at aminimum) a description of approved commodities,transaction instruments, transactional tenors, and counterparties or counter-party criteria.</li>
		  <li id ="standard_4_b">Define Risk Limits consistent with levels of Market and Credit Risks authorized by the Governing Body. Risk Limits define an acceptable level of risk arising from a specified source of uncertainty, as measured by a defined metric. </li>
		    <ol><li id ="standard_4_b_i">Each Risk Limit will specify a metric and an acceptable level of risk.</li>
		    <li id ="standard_4_b_ii">Risk Limits will be established such that, collectively, they define authorized levels of Market Risks and Credit Risksfor the entire firm. In instances where more than one business function within the firm is authorized to hold exposure to a specific risk, Risk Limits will be established for each business function.</li></ol>
		  </ol>
		</ol>



		<h3>Independent Oversight</h3>

		<p>Oversight activities that facilitate accurate identification, measurement and monitoring of Associated Risks related to the firm’s Commercial Activities are most effective when they employ checks and balances involving more than one business function. Therefore, those activities that are essential to accurate identification, measurement and monitoring of the Associated Risks related to the firm’s Commercial Activities must be performed by individuals Independent of Commercial Activities, irrespective of whether those individuals are members of the Governing Body.</p>

		<ol class="standard" start="5">
		  <li id="standard_5">Standard: The following activities must be performed by individuals Independent of Commercial Activities:</li>
		  <ol>
		    <li id ="standard_5_a">Implementation and maintenance of policies and procedures related to Oversight of Commercial Activities.</li>
		    <li id ="standard_5_b">Validation of methodologies, techniques, models, tools, and systems used to value transactions, measure Associated Risks, and report performance and Associated Risks related to Commercial Activities.</li>
		    <li id ="standard_5_c">Validation of internal information describing transactions against information from the counterparty or other external sources.</li>
		    <li id ="standard_5_d">Validation of all market information utilized in both valuation and analysis of risks associated with Commercial Activities. </li>
		    <li id ="standard_5_e">Valuation of transactions related to Commercial Activities.</li>
		    <li id ="standard_5_f">Analysis of Associated Risks related to Commercial Activities.</li>
		    <li id ="standard_5_g">Reporting of Associated Risks to individuals engaged in Commercial Activities, the management of the firm, and the Governing Body.</li>
		    <li id ="standard_5_h">Monitoring of Associated Risk for compliance with Risk Limits.</li>
		    <li id ="standard_5_i">Reporting of breaches in Risk Limits or risk policy.</li>
		    <li id ="standard_5_j">Documentation of responses to breaches in Risk Limits or risk policy.</li>
		  </ol>
		</ol>

		<br>


		<p>Activities involving financial reporting, management of cash positions and settlement with counterparties as they relate to Commercial Activities must be conducted in accordance policies approved by of the Governing Body. In larger firms, the most effective way to ensure this is to require that these activities be performed by individuals Independent of the Commercial Activities. However, in firms where the Governing Body also engages in Commercial Activities, it is acceptable for these activities to be performed by the Governing Body.</p>
		<ol class="standard" start="6">
		  <li id="standard_6">Standard: The following activities must be performed by the Governing Body or by individuals Independent of Commercial Activities:</li>
		  <ol>
		    <li id ="standard_6_a">Development of policies and procedures related to Oversight of Commercial Activities.</li>
		    <li id ="standard_6_b">Administration of the scheme used to classify transactions within Risk Management Systems for purposes of value, profit and loss, and risk reporting.</li>
		    <li id ="standard_6_c">Invoicing counterparties.</li>
		    <li id ="standard_6_d">Processing payments to and from counterparties.</li>
		    <li id ="standard_6_e">Resolving invoicing and payment disputes. </li>
		    <li id ="standard_6_f">Managing margin and collateral accounts with counter-parties.</li>
		    <li id ="standard_6_g">Reconciling estimated settlements based on information in Risk Management Systems with actual settlements as reflected in cash balances.</li>
		  </ol>
		</ol>
  
  
		<h2 id="policies-and-procedures">Policies and Procedures</h2>

		<h3>Documentation</h3>
		<p>A firm’s risk policies and procedure documents are key elements of the firm’s risk management framework. Together these documents reflect the Governing Body’s commitment to managing the Commercial Activities and Associated Risks of the firm. The policy documents are a tool for communicating the Governing Body’s authorization to engage in Commercial Activities and take on Associated Risks. These documents also establish responsibilities for Commercial Management of the firm’s Commercial Activities. The procedures documents serve as guidance to individuals in the firm regarding appropriate (and inappropriate) execution of their day-to-day responsibilities.</p>
		<ol class="standard" start="7">
		<li id="standard_7">Standard: All firms engaged in Commercial Activities (irrespective of purpose) must have in place documented risk policies, approved by the Governing Body (or Management Committee), and associated procedures that:</li>
		  <ol>
		    <li id ="standard_7_a">Encompass the Commercial Activities and Associated Risks that are the subject of this standard.</li>
		    <li id ="standard_7_b">Describe authorized Commercial Activities. Authorizations may be documented through one or more policies. The policies must specify authorizations such that collectively, policies reflect all authorized Commercial Activities of the firm. The policies may specify business unit, desk or individual authorizations.</li>
		    <li id ="standard_7_c">Describe Risk Limits reflecting authorized levels of Market Risk associated with authorized Commercial Activities, as well as procedures intended to manage Market Risks. The policies must specify Risk Limits such that collectively, they define authorized levels of Market Risks for the entire firm. The policies may specify business unit, desk or individual Risk Limits.</li>
		    <li id ="standard_7_d">Require the firm to have in place controls designed to ensure that Commercial Activities are consistent with authorizations and Risk Limits.</li>
		    <li id ="standard_7_e">For a firm whose Governing Body authorizes engaging in Commercial Activities for both speculative and hedge purposes, require the firm to have in place controls designed to ensure proper classification of transactions in accordance with regulatory requirements and accepted accounting standards and controls to prevent reclassification by individuals engaged in Commercial Activities of transactions already entered into Risk Management Systems.</li>
		    <li id ="standard_7_f">Require regular review of Commercial Activities by individuals Independent of Commercial Activities to ensure compliance with policies.</li>
		    <li id ="standard_7_g">Require the firm to have in place procedures for mitigating Market Risks in excess of Risk Limits.</li>
		    <li id ="standard_7_h">Describe Risk Limits reflecting authorized levels of Credit Risk associated with authorized Commercial Activities, as well as procedures intended to manage Credit Risks, including authorized forms of credit enhancements and collateral. The policies must specify Risk Limits such that collectively, they define authorized levels of Credit Risks for the entire firm. The policies may specify business unit, desk or individual Risk Limits.</li>
		      <ol>
		        <li id ="standard_7_h_i">A firm who engages in transactions that are not cleared through a central counterparty must acknowledge the potential for Credit Risks in its risk policies, must specify Risk Limits related to these Credit Risks, and must have in place oversight by individuals Independent of Commercial Activities adequate to identify, measure, monitor, and manage Credit Risks related to authorized Commercial Activities.</li>
		        <li id ="standard_7_h_ii">A firm whose Governing Body has prohibited bi-lateral transactions must reflect this prohibition in its risk policies, and must require regular review of transactions by an individual Independent of the Commercial Activity to monitor compliance with this prohibition.</li>
		      </ol>
		    <li id ="standard_7_i">Describe the responsibilities of the Governing Body, the Management Committee if one exists, and individuals Independent of Commercial Activities in oversight of the Commercial Activities and Associated Risks of the firm.</li>
		    <li id ="standard_7_j">Describe required controls related to oversight of the Commercial Activities and Associated Risks of the firm.</li>
		    <li id ="standard_7_k">Describe required analysis and reporting of Associated Risks. </li>
		    <li id ="standard_7_l">Describe required monitoring of Commercial Activities and Associated Risks, reporting of breaches of policy, and responses to reported breaches. </li>
		    <li id ="standard_7_m">Describe processes for amending the policies or procedures as needed.</li>
		  </ol>
		</ol>

		<h3>Risk Controls</h3>
		<p>Within a firm’s risk management framework, controls are the key processes intended to ensure the firm engages only in authorized Commercial Activities and takes on only authorized Market and Credit Risks. To be effective, control processes must be documented, understood and consistently followed.</p>
		<ol class="standard" start="8">
		<li id="standard_8">Standard: The firm must have in place documented control processes, approved by the Governing Body or Management Committee that:</li>
		  <ol>
		    <li id ="standard_8_a">Require that individuals Independent of Commercial Activities regularly monitor Commercial Activities for compliance with authorizations and Risk Limits.</li>
		    <li id ="standard_8_b">Require that individuals Independent of Commercial Activities provide counterparty authorization, establish credit terms and related Risk Limits, execute valid contracts, and, if necessary, exchange credit enhancements prior to engaging in Commercial Activities with new counterparties.</li>
		    <li id ="standard_8_c">Require that specific individuals or desks engaged in Commercial Activities be assigned accountability for Commercial Management of all transactions.</li>
		  </ol>
		</ol>
		<br>

		<h3>Transaction Confirmation and Capture</h3>
		<p>A firm’s ability to effectively identify, measure, monitor and manage Associated Risks related to Commercial Activities is dependent on the complete, accurate and timely capture of information regarding transactions in the firm’s Risk Management Systems. It is therefore essential that firms have in place documented procedures describing required capture and validation of all transaction details necessary to support Commercial Management and oversight of Commercial Activities.</p>
		<ol class="standard" start="9">
		  <li id="standard_9">Standard: The accuracy of intra-day risk reports is dependent on timely and accurate capture of transaction information in Risk Management Systems. The firm must have in place documented procedures describing required capture of information in Risk Management Systems for all transactions related to Commercial Activities. Information should be captured in Risk Management Systems no later than the end of the business day of execution, or sooner if required by regulations or market rules, or in the case of complex transactions, as soon as commercially reasonable thereafter.</li>
		</ol>
		<ol class="standard" start="10">
		  <li id="standard_10">Standard: The firm must have in place documented procedures requiring reconciliation of the firm’s internal information describing transactions and transaction details with information by counterparties, brokers, clearing organizations or other external sources, by individuals Independent of the Commercial Activity. This should be completed as soon as commercially reasonable after execution of the transaction.</li>
		</ol>
		<ol class="standard" start="11">
		  <li id="standard_11">Standard: The firm must have in place documented procedures requiring timely validation of the existence, completeness, and accuracy of information entered into Risk Management Systems by individuals Independent of Commercial Activities. This should be completed as soon as commercially reasonable after execution of the transaction.</li>
		</ol>

		<h3>Collection and Validation of Prices</h3>
		<p>A firm’s ability to effectively identify, measure, monitor and manage Associated Risks related to Commercial Activities is dependent on the complete, accurate and timely collection of information regarding Prices in relevant markets. Information on Prices in relevant markets may be available from multiple sources or not readily available at all. When required Price information is unavailable, it is acceptable to infer Prices from models based on sound financial principles. It is therefore essential that firms have in place documented procedures describing a consistent method for collection or inference of Prices sufficient to support Commercial Management and oversight of Commercial Activities. It is also essential that firms require validation of these Prices by individuals that are Independent of Commercial Activities.</p>
		<ol class="standard" start="12">
		<li id="standard_12">Standard: The firm must have in place documented procedures that:</li>
		  <ol>
		    <li id ="standard_12_a">Describe Price information required to support Commercial Management, oversight and financial reporting of Commercial Activities.</li>
		    <li id ="standard_12_b"> Provide an approved, timely, and consistent method for collection or inference of these Prices, and assignment of responsibility for collection or inference of these Prices.</li>
		    <li id ="standard_12_c">Require validation in accordance with industry practices of Prices and associated collection and inference methods by individuals Independent of Commercial Activities.</li>
		    <li id ="standard_12_d">Authorize individuals Independent of Commercial Activities to directly contact external sources as necessary to support validation of Prices.</li>
		  </ol>
		</ol>
		<br>

		<h3>Analysis and Reporting</h3>
		<p>Risk analysis involves the identification, evaluation, modeling and measurement of the firm’s risks. Analysis includes informative, timely and consistent calculation of value and risk metrics related to the firm’s Commercial Activities and Associated Risks. Once calculated, this information must be disseminated to individuals within the firm in a timely, consistent and useful manner to support Commercial Management and oversight of Commercial Activities.</p>
		<ol class="standard" start="13">
		  <li id="standard_13">Standard: The firm must have in place documented methodologies, models and metrics supporting Commercial Management and oversight of Commercial Activities and Associated Risks that:</li>
		    <ol>
		      <li id ="standard_13_a">Provide insight into both current performance and potential future performance arising from Commercial Activities, taking into consideration risk factors that contribute materially to uncertainty regarding the financial performance of Commercial Activities.</li>
		      <li id ="standard_13_b">Provide insight into sensitivity of transactions and portfolio performance due to changes in Prices or other uncertain factors affecting value, likelihood of observing given levels of future performance, and potential performance under specific scenarios and extreme circumstances.</li>
		      <li id ="standard_13_c">Effectively inform decision-making related to loss mitigation, risk mitigation, or policy breaches related to the firm’s Commercial Activities.</li>
		      <li id ="standard_13_d">Systematically and consistently produce metrics that are comparable across business functions, positions, and time.</li> 
		    </ol>
		</ol>
		<ol class="standard" start="14">
		<li id="standard_14">Standard: Firms with exposure to Market Risks related to Commercial Activities must:</li>
		  <ol>
		    <li id ="standard_14_a">Have in place a documented system of analysis methods, risk metrics, and reports that consider risk factors that contribute materially to the firm’s Market Risks.</li>
		    <li id ="standard_14_b">Regularly calculate and report:</li>
		      <ol>
		        <li id ="standard_14_b_i">Mark-to-market values of forward positions and balance-of-month transactions in accordance with generally accepted methods</li>
		        <li id ="standard_14_b_ii">Realized and unrealized profit and loss of thepositions and transactions.</li>
		        <li id ="standard_14_b_iii">Measure of the magnitude of position exposures.</li>
		        <li id ="standard_14_b_iv">Measures of potential future loss in the eventof adverse Price moves, consistent with those typically employed in the industry for similar positions.</li>
		        <li id ="standard_14_b_v"> Measures of the degree to which the Market Risk of positions arising from normal business activities are mitigated by Commercial Activities intended to mitigate these risks (e.g. hedging), provided the firm is authorized to engage in Commercial Activities to mitigate Market Risk arising from normal business activities.</li>
		      </ol>
		  </ol>
		</ol>
		<ol class="standard" start="15">
		  <li id="standard_15">Standard: Firms that hold material physical or financial positions related to Commercial Activities with optionality must ensure that their analysis methods, risk metrics and reports reflect recent assessments of likelihood of option exercise.</li>
		</ol>
		<ol class="standard" start="16">
		  <li id="standard_16">Standard: Firms with exposure to Credit Risks related to Commercial Activities must:</li>
		    <ol>
		      <li id ="standard_16_a">Have in place a documented system of analytical methods, risk metrics, and reports that consider risk factors that contribute materially to the firm’s Credit Risks.</li>
		      <li id ="standard_16_b">Regularly calculate and report:</li>
		        <ol>
		          <li id ="standard_16_b_i">Measures of the amount the firm could expect to lose, assuming counterparties failed to satisfy their current obligations and not taking into consideration the likelihood of non-performance, assuming current market values.</li>
		          <li id ="standard_16_b_ii">Measures of the amount the firm could expect to lose, assuming current market values, taking into consideration the likelihood of non-performance by counter-parties.</li>
		          <li id ="standard_16_b_iii">Measures of potential future loss in the event of adverse Price moves, assuming counterparties failed to satisfy their current obligations, and not taking into consideration the likelihood of non-performance, consistent with those typically employed in the industry for similar positions.</li>
		          <li id ="standard_16_b_iv">Measures of potential future loss in the event of adverse Price moves, taking into consideration the likelihood of non-performance by counterparties, consistent with those typically employed in the industry for similar positions.</li>
		        </ol>
		    </ol>
		</ol>
		<ol class="standard" start="17">
		  <li id="standard_17">Standard: Firms that engage in transactions designed to mitigate Credit Risks related to Commercial Activities must have in place capabilities for Commercial Management and oversight of these transactions commensurate to those required for use of derivatives to mitigate Market Risks.</li>
		</ol>
		<ol class="standard" start="18">
		  <li id="standard_18">Standard: Firms with material exposure to Operations Risks related to Commercial Activities must incorporate Operations Risks related to Commercial Activities into their Market Risk and Credit Risk metrics, analyses and reporting.</li>
		</ol>
		<ol class="standard" start="19">
		  <li id="standard_19">Standard: Firms need not put in place specific metrics, analyses or Risk Limits associated with Financial Liquidity Risks, but must regularly assess the firm’s ability to meet potential future physical and financial obligations related to Commercial Activities, and report findings to the Governing Body or Management Committee. If regular reporting is to a Management Committee, then the Management Committee must report to the Governing Body regarding Financial Liquidity Risks at least Periodically.</li>
		</ol>
		<ol class="standard" start="20">
		  <li id="standard_20">Standard: Firms need not put in place specific metrics, analyses or Risk Limits associated with Operational Risks or Business Risks, but must require review and reporting of Operational Risks and Business Risks to the Governing Body and Management Committee at least Periodically.</li>
		</ol>
		<ol class="standard" start="21">
		  <li id="standard_21">Standard: The firm must have in place procedures requiring that individuals Independent of Commercial Activities:</li>
		    <ol>
		      <li id ="standard_21_a">Be granted access to all information related to transactions and Prices associated with Commercial Activities and Associated Risks.</li>
		      <li id ="standard_21_b">Calculate and report risk metrics associated with Risk Limits with sufficient regularity to provide timely information to support Commercial Management and oversight of Commercial Activities. </li>
		      <li id ="standard_21_c">Calculate and report all other risk metrics with sufficient regularity to provide timely information to support regular assessment of the effectiveness of the firm’s policies, procedures, and oversight of Commercial Activities in identifying, measuring and monitoring Associated Risks and detecting breaches in policy.</li>
		      <li id ="standard_21_d">Validate methodologies, models and metrics through independent review, and comparison to historical performance (back-testing) at least Periodically.</li>
		      <li id ="standard_21_e">Report metrics in a manner such that they inform business unit, desk and individual decision-making, and collectively reflect levels of risk for the entire firm.</li>
		      <li id ="standard_21_f">Distribute reports consistently to specified individuals responsible for Commercial Management and oversight of Commercial Activities and Associated Risks.</li><br>
		    </ol>
		</ol>

		<h3>Monitoring and Compliance</h3>
		<p>Whereas control procedures are the key to ensuring that only approved risks are taken on by the firm, monitoring and compliance procedures are the key to identifying and addressing unacceptable levels of risk that have already been taken on by the firm or may be taken on by the firm if corrective action is not taken. Monitoring involves the regular review of transactions and risk metrics for compliance with transaction and Risk Limit approvals in the firm’s risk policies. In the event a transaction or risk metric falls outside risk policy approvals, these breaches must be communicated to appropriate functions within the firm and resolved in accordance with the risk policies. These communication and resolution activities are collectively referred to as Compliance.</p>
		<ol class="standard" start="22">
		<li id="standard_22">Standard: The firm must have in place policies and procedures that:</li>
		  <ol>
		    <li id ="standard_22_a">Require individuals independent of Commercial Activities to review reporting associated with Commercial Activities and Risk Limits sufficient to verify compliance with the firm’s risk policies.</li>
		    <li id ="standard_22_b">Require individuals independent of Commercial Activities to identify breaches of Commercial Activity approvals or Risk Limits at the time of the review, and communicate identified breaches to the individuals engaged in Commercial Activities related to the breach, and the Management Committee if one exists, or the Governing Body, immediately upon discovery of the breach.</li>
		    <li id ="standard_22_c">Define required remedial actions for a breach, and a process for seeking policy exceptions.</li>
		  </ol>
		</ol>

		<h2 id="qualifications-and-training">Qualifications and Training</h2>
		<p>Underpinning the success of the risk framework is the widespread understanding and daily usage of critical risk concepts throughout the firm.</p>
		<p><em>In a risk-aware organization, the quality of the education program is readily apparent in the consistent manner that communication and discussion of risks is undertaken.</em></p>
		<p>It is critical to ensure personnel are qualified and experienced. The level of experience and qualification should be reflective of the entity’s business model and risk appetite. Because qualifications must develop as the firm’s risk taking activities develop, it is impossible to separate the need for qualifications from the need for on-going education and focused training.</p>
		<p>Outsourcing some capabilities may be an appropriate approach to obtaining the qualifications needed in some cases. For example, certain model development, review and validation functions may be effectively outsourced. Outsourcing can be particularly appropriate when the volume or nature of the business would not warrant an in-house quantification function.</p>
		<ol class="standard" start="23">
		  <li id="standard_23">Standard: The firm must have in place procedures or practices to ensure that:</li>
		    <ol>
		      <li id ="standard_23_a">Personnel have sufficient knowledge and abilities to fulfill responsibilities associated with their roles in Commercial Management or oversight of Commercial Activities and Associated Risks in a manner consistent with this standard, including any required certifications (i.e. in ISO/RTO markets).</li>
		      <li id ="standard_23_b">Personnel receive sufficient training in applicable policies and procedures, regulatory requirements, applicable market conventions, and risk management practices to fulfill responsibilities associated with their roles in Commercial Management or oversight of Commercial Activities and Associated Risks.</li>
		      <li id ="standard_23_c">The Governing Body, Management Committee (if one exists) and any Senior Management involved in the Commercial Management or oversight of Commercial Activities receive training to ensure sufficient understanding to fulfill their responsibilities with respect to governance of Commercial Activities. Sufficient understanding includes familiarity with concepts underpinning the firm’s Commercial Activities, risk management framework, how the framework is implemented across the firm, the Associated Risks related to the firm’s Commercial Activities, and the firm’s capacity to fulfill physical and financial obligations associated with Commercial Activities.</li>
		    </ol>
		</ol>
		<ol class="standard" start="24">
		  <li id="standard_24">Standard: Each individual engaged in Commercial Management of Commercial Activities must:</li>
		    <ol>
		      <li id ="standard_24_a">Demonstrate familiarity with Commercial Management obligations, authorized Commercial Activities, and Risk Limits related to their specific responsibility.</li>
		      <li id ="standard_24_b">Demonstrate an understanding of, and agree to comply with, the firm’s policies and procedures related to Commercial Activities.</li>
		    </ol>
		</ol>

		<h2 id="risk-management-infrastructure">Risk Management Infrastructure</h2>

		<h3>Risk Management Systems</h3>
		<p>The purpose of Risk Management Systems is to provide the firma means to efficiently, consistently and reliably capture and validatetransaction information and Prices related to Commercial Activities, as well asto value transactions, analyze and report risks. <em>Forclarity, the term system used here refers to a consistent method for performingthese functions that supports the other requirements of this standard, and isnot intended to reflect a requirement for a software-based system.</em></p>
		<ol class="standard" start="25">
		  <li id="standard_25">Standard: Risk Management Systems must be able to:</li>
		  <ol>
		    <li id ="standard_25_a">Accurately capture all transaction details necessary to value and analyze Associated Risks of transactions related to Commercial Activities in accordance with the firm’s policies and procedures.</li>
		    <li id ="standard_25_a">Consistently and reliably calculate and report risk metrics employed in Commercial Management and oversight of Commercial Activities in a timely manner sufficient to support Commercial Management and oversight requirements in accordance with the firm’s policies and procedures.</li>
		  </ol>
		</ol>
		<ol class="standard" start="26">
		<li id="standard_26">Standard: With respect to Risk Management Systems, the firm must require that:</li>
		  <ol>
		    <li id ="standard_26_a">Controls are implemented to ensure that, once captured, all changes to prices, volumes, and other transaction terms are communicated to individuals responsible for Analysis and Reporting and properly authorized individuals Independent of the Commercial Activities.</li>
		    <li id ="standard_26_b">Hard copies of all transaction data not stored electronically are retained in accordance with regulatory requirements.</li>
		    <li id ="standard_26_c">All data supporting the Risk Management Systems (electronic and hard copy) are copied and stored in an off-site location.</li>
		    <li id ="standard_26_d">Procedural, methodology, modeling, verification and technology components of the Risk Management Systems are documented and the documents are maintained to reflect the current state of these components.</li> 
		  </ol>
		</ol>

		<h3>Risk Infrastructure</h3>
		<ol class="standard" start="27">
		  <li id="standard_27">Standard: The firm must have in place a risk infrastructure that supports consistent, reliable, accurate and timely capture, validation, analysis, aggregation, reporting and monitoring of information in support of Commercial Management and oversight of Commercial Activities and Associated Risks.</li>
		</ol>

		<h2 id="appendices" class="numbering_exclude">Appendices</h2>
		<h3 class="numbering_exclude">Definitions</h3>
		<p><b>Associated Risks:</b> those Market, Credit, Financial Liquidity, Business, Operations and Operational Risks associated with the firm’s Commercial Activities related to its energy commodities and related transactions. The CCRO acknowledges that participation in Commercial Activities may expose the firm to the potential for loss from a variety of sources. While it is a Best Practice for firms to address all sources of material risk arising from its Commercial Activities, a firm may satisfy this standard provided it addresses Market, Credit, Financial Liquidity, Business, Operations and Operational Risks.</p>
		<p><b>Business Risk:</b> the potential loss in value arising from changing economic, legal, regulatory, or competitive conditions that may affect the financial performance of Commercial Activities.</p>
		<p><b>Commercial Activities:</b> the activities of a firm typically performed by a front office.</p>
		<p><b>Commercial Management:</b> the activities of individuals engaged in Commercial Activities including execution of transactions, transaction capture, price discovery, and position adjustments with respect to transactions.</p>
		<p><b>Credit Risk:</b> the potential for loss in value from failure of a counterparty to fulfill its contractual obligations with respect to payment or delivery of commodity related to Commercial Activities.</p>
		<p><b>Financial Liquidity Risk:</b> the potential for failure of the firm to fulfill its contractual obligations with respect to payment or delivery of commodity related to Commercial Activities due to insufficient access to financial liquidity.</p> 
		<p><b>Governing Body:</b> the individual or group with the highest authority within the firm, including the authority to assume risks and delegate authority and responsibility to assume and manage risk within the firm. In a corporation, the Governing Body is typically a Board of Directors. In a private firm this may be a single owner, a Board of Directors, a partnership committee, or some similar group. In a firm owned by a municipality, this may be a city council, citizen committee or some similar group.</p>
		<p><b>Independent of Commercial Activities:</b> an individual is considered independent of Commercial Activities of the firm provided:</p>
		<ul>
		  <li>They have no authority or responsibility toengage in Commercial Management or other Commercial Activities.</li>
		  <li>They report into an organization that has no authority or responsibility to engage in Commercial Management or other Commercial Activities, and that organization reports directly to the Governing Body.</li>
		  <li>Factors utilized to determine their performance for purposes of performance-based incentives do not consider financial performance related to Commercial Activities</li>
		</ul>
		<p><b>Management Committee:</b> a committee of individuals authorized to fulfill responsibilities of the Governing Body and including balanced representation from individuals engaged in Commercial Activities and individuals responsible for independent oversight of Commercial Activities.</p>
		<p><b>Market Risk:</b > the potential loss in value from adverse movement of market variables such as commodity prices, foreign exchange rates, and interest rates, implied volatilities, correlations, quantity, or other factors that may affect the financial performance of transaction or position related to Commercial Activities.</p>
		<p><b>Operational Risk:</b> the potential for loss of value resulting from inadequate or failed internal processes, people, and systems or from external events that may affect the financial performance of Commercial Activities.</p>
		<p><b>Operations Risk:</b> the potential loss in value associated with failure to produce, transport, store, deliver or take delivery of physical commodities that may affect the financial performance of Commercial Activities.</p>
		<p><b>Periodically:</b> at least once annually, and more frequently if required by regulation.</p>
		<p><b>Price:</b> information regarding transactions related to Commercial Activities required to assign a value to those transactions that is reflective of pricing of similar transactions in similar markets. This may include but not be limited to contract prices, settlement prices, interest rates, currency exchange rates, implied volatilities, a correlations, index values, market conversion rates (e.g. heat rates) , and in the case of transactions permitting volume variability, relevant volumetric information.</p>
		<p><b>Risk Limit:</b> a risk measurement metric and associated level of that metric representing the minimum or maximum acceptable level of the metric.</p>
		<p><b>Risk Management Systems:</b> a firm’s method for consistently capturing and storing transaction details related to Commercial Activities, evaluating performance of the these activities, analyzing Associated Risks, and reporting on Commercial Activities, their performance and Associated Risks. The term is not intended to reflect a requirement for a software-based system.</p>
    </div>
</div>