/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

div.page p {
	text-align: justify;
}

@media (min-width: 768px) {
	body {
		background: url('../images/grey-linen.png');
		background-position: fixed;
		background-attachment: fixed;
	}
	
	div.center {
	    margin:0px auto !important;
		float: none !important;
	}

	div.page {
	  position: relative;
	  margin-top: 25px;
	  padding: 20px;
	  background-color: white;
	  border: 1px solid #dddddd;
	}

	div.page-shadow {
	  background: url('../images/leaftshadow.png') no-repeat bottom;
	  padding-bottom: 20px;
	  padding-top: 10px;
  
	}

}

@media (max-width: 768px) {
	div.page, div.page-shadow {	    
		margin: 0px !important;
		padding: 0px !important;
		float: none !important;
	}

}
